* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
    font-family: special;
    src: url(./assets/fonts/SpecialElite-Regular.ttf);
  }
/* 
 @font-face{

    font-family: Pacifico;
    src: url(assets/fonts/Pacifico-Regular.ttf)
 }  */
  
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.veil{
    background-color: black;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}


.veil h1 {
   position: absolute;
   top: 15%;
   left:25%;
   font-size: 60px;
   color: white;
   text-align: center;
   font-family: special;

  
}

.veil a:hover{
    font-size: 60px;
    animation-play-state: paused;
}
  


  .veilimg{
      height: 20vh;
      width: 20vh;
      position: absolute;
      left: 5%;
      top: 18%;
      
  }

  .veil a {

font-family: 'Pacifico', cursive;
  border: none;
  color: #073668;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  bottom: 20%;
  right: 30%;
  left: 30%;
  font-weight: 700;

  animation: neon 0.8s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/



@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(110, 125, 148, 0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(157, 187, 183, 0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}